/* Navbar container */
.navbar {
  background-color: #2d2d2d;
  /* background-color: #2d3748; */
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo styling */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
  color: white;
}

/* Navigation links styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 20px;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: #d1d1d1;
}

/* Search bar styling */
.search-container {
  display: flex;
  flex: 0;
  max-width: 600px;
  margin: 0 20px; /* Space around search bar */
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.search-input {
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Auth links styling */
.auth-links {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  width: 17%;
}

.auth-link {
  text-decoration: none;
  color: white;
}

.auth-link:hover {
  color: #d1d1d1;
}

svg {
  display: inline;
}

.icon-and-text{
  display: flex;
  flex-direction:row;
}