.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
}

/* .product-card:hover {
  transform: scale(1.05);
} */

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.playback-time {
  background-color: #ffc107;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  margin-bottom: 10px;
}

.original-price {
  text-decoration: line-through;
  color: gray;
}

.discount {
  color: green;
}

.review {
  font-size: 14px;
  color: orange;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #333;
}

.error-message {
  color: red;
  text-align: center;
}

.product-link {
  text-decoration: none;
  color: black;
}
